* {
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --trans_black: rgba(0, 0, 0, 0.5);
  --medium_slate: #6F8695;
  --trans_white: rgba(255,255,255, 0.5);

}


.interest {
  color: white;
  font-weight: bold;
}

#projects-container .built-with {
  display: block;
}

.tech, .built-with {
  display: inline-block;
  margin: 1em auto;
  line-height: 2em;
  color: #ffffffc1;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 1em;
}

.tech-keyword, .menu-link {
  background-color: var(--trans_black);
  white-space: nowrap;
  border-radius: 3px;
  padding: 0.25em;
  margin: 3px;
  margin-top:1em;
}

.menu-link {
  font-size: 18px;
  box-shadow: #0A2542;
  width:12ch;

}

.section {
  margin-top: 3em;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  background-image: url('./images/background.jpg');
  font-family: 'Open Sans', sans-serif;
}

.flex-centered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.title-banner {
  top: 0;
  width: 100%;
  background-image: url('./images/banner.jpg');
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

#close-nav {
  display: none;
}

.bare-section {
  text-align:center;
  background-color: rgb(1 21 40);
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.card-container {
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}


.bare-section p {
  color: #ffffffc1;
}

.nav a:first-child {
  display: none;
}

.title-banner-main {
  text-align: center;
  padding: 5em 2em;
  box-sizing: border-box;
  min-height: 300px;
}

.title-banner-main img {
  display: inline-block;
}

.title {
  font-size: 2em;

}

#video-container {
  display: none;
  width: 100%;
  height: 75%;
  position: relative;
}

#video {
  display: none;
  height: 100%;
  width: 100%;
}

.card-video {
  height: 300px;
  width: 100%;
}

#video-close {
  width: 1em;
  position: absolute;
  right: 3em;
  border-radius: 5px;
  border: 5px solid black;
  background-color: black;
}

.spacer {
  display: block;
  width: 100%;
  height: 60px;
}

.nav {
  top: 10px;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  padding: 5px;
  border: solid 1px white;
}

.nav a:hover {
  text-decoration: underline;
}

#hamburger {
  display: none;
}

.nav a,
.nav-collapsed a {
  color: white;
  display: inline-block;
  margin: 10px 10px;
  
}

#projects {
  position: relative;
  background-color: #0d121d;
  padding: 1em;
  margin-top:100px;
  box-sizing: border-box;




}

#projects-container {
  min-height: 200px;
  position: relative;
  padding: 5em 0;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 1%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0.5em;
  justify-content: center;
  color: white;
  display: inline-flex;
  margin-top: 0;
  flex-wrap: wrap;
  margin: 0 1rem 2rem;
}

.project-card{
  width:400px;
  z-index: 5;
  margin: 2em 0;
  padding: 1em;
  display: inline-block;
  background-color: #0A2542;
}

.company-image {
  min-height: 350px;
  max-width: 400px;
  background-position: center;
  background-size: cover;
  display:flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.company-title {
    color:#0A2542;
    background-color: white;
    padding: 0.5em;

}

.card-body{
  font-size: 1.1em;
  background-color: #0A2542;
  max-width: 50%;
  min-width: 370px;
}

.card-body-text{
  margin: 0 1em;

}

.card.full-width {
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
  text-align: center;
}

.card-image {
  min-width: 300px;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

a.menu-link {
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.built-with {
  text-align: center;
  margin-top: 1em;
}

.hide {
  display: none;
}

.side-image {
  height: 12rem;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em
}

.card-description {
  text-align: center;
  padding: 1em 0;
  border-radius: 5px;
  color: black;
  font-size: 1.2em;
  display: block;
  background-color: white;
}

.card-menu {
  box-sizing: border-box;
  margin-top: 1em;
  display: flex;
  font-size: 1em;
  justify-content: space-around;
  align-items: center;

}

.menu-link {
  display: inline-block;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  color: #ffffffc1;
  padding: 0.4em;

}

@media (max-width:950px) {
  .card {
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }

  .card-video {
    height: 50vw;
  }

  .card img {
    min-width: 300px;
    width: 100%;
  }

  .project-card {
    width: 100%;
    box-sizing: border-box;
  }

  
}

.icon {
  width: 1em;
}

.particles-js-canvas-el{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 0;
  }


