h1 {
margin:10px;
}


.description {
  min-width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

body{padding:0;
  background-color: lightGrey;

}

.title-banner{
  top:0;
  width:100%;
  background-image:url('./images/banner.jpg');
  color:white;height:400px;background-size: cover;background-position: center;

}
.nav-title{
padding:0;
margin:10px;
color:white;height:50px;

}

.title-banner-fixed {
  position:fixed;
  transition:height 0.5s;
  height:60px;
  width:100%;
  background-image:url('./images/banner.jpg');
  color:white;background-size: cover;background-position: center;
  top:0;
}

.title-banner-fixed .title{
  font-size:1em;
}
.nav{
  position:fixed;
  top:0px;
  padding:10px;

  width:100%;
  display:flex;
  justify-content:flex-start;
  color:white;

}


.nav i {
  display:none;
}

@media (max-width:950px){
  .nav{ margin:0;}
  .nav i{
    display:inline-block;
    margin:0;
    color:white;
    font-size:2em
  }
  .nav a {
    margin:0px;
  }
  .nav :not(:first-child){
    display:none;
  }

}

.title-banner-main{
  height:100%;
   display:flex;
   flex-direction:column;
   flex-wrap:wrap;
   justify-content: center;
   align-items: center;
   text-align:center;
}


.title{
  min-width:100%;
  font-size:2em;

}
 #video-container { display:none;
   margin-top:60px;
   height: 80%;
   width:100%;

 }
 #video { display:none;
   height: 70%;
   width:100%;
 }

#projects-container{

}

.spacer{
  height:1em;
}

@media (min-width: 950px){
  .nav{
    margin-top:5px;

  }
  .nav a {
    display:inline-block;
    margin:10px 10px;
  }
  .card {
    min-width:300px;
    border-radius: 10px;
    padding:10px;
    color:white;
    display:inline-block;
    width:31%;
    height:20rem;
    background-color:#6F8695;
  }

  .card img {
    min-width:300px;
    width:100%;
    height:100px
  }

  .card-image {
    min-width:300px;

    width:31%
    height:100px;
  }
}
@media (max-width:950px){
  .card {
    margin:10px auto;
    max-width:400px;
    width:100%
    border-radius: 10px;
    padding:10px;
    color:white;
    display:block;
    height:20rem;
    background-color:#6F8695;
  }

  .card img {
    min-width:300px;
    width:100%;
    height:100px
  }

  .card-image {
    min-width:300px;

    width:31%
    height:100px;
  }
}




  .card-title{
    font-size:1.5em;
    text-align:center;
    margin:1em
  }

  .card-description{
    border-radius: 5px;
    color:black;
    font-size:1.2em;
    display:flex;
    align-items: center;
    justify-content:center;
    height:4em;
    background-color: white;
  }
  .card-menu{
    margin-top:2em;

    display:flex;
    font-size:1em;
    justify-content: space-between;
    height: 100px;
  }

.menu-link{
  padding:0.25em;
}

.hide{
  display:none;
}
